$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower



//Hung code here
//new
 /* the slides */
 .slick-slide {
    margin: 0 10px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -10px;
  }
.news{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f1cc21;
    text-align: center;
    .new-test{
        margin-bottom: 50px;
    }
    hr{
        border-top: 2px solid black;
    }
}
.new-title {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}
.new-subtitle{
    font-size: 20px;
    margin-bottom: 50px;
}
.new-detail {
    background: #ffffff;
    min-height: 458px;
}
.news-media{
    height: 170px;
}
.new-detail-title {
    margin-top: 50px;
}
.new-end-title {
    font-size: 36px;
    font-weight: 700;
}
.new-end-folow {
    font-size: 21px;
    margin-top: 20px;
}
.new-slider {
    margin-bottom: 50px;
}

.gallery-left {
    width: 33%;
}
.gallery-right {
    width: 67%;
    float: left;
}


//Tuan code here



h2 {
  font-size: 45px;
  color: #f1cc21;
}

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 85%;
  margin: 1em auto; 
}

.flip-clock-divider {
  .flip-clock-label {
    top: auto;
    bottom: -1.5em;
    text-transform: uppercase;
  }
}